# Ignore environment variables
.env
config.py
# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment folders
venv/
env/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log
logs/

# Ignore downloaded media (if not needed in GitHub)

# Ignore Config file because it contains API
